@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Pretendard-Regular';
}

.nav{
    background-color: #67BDEC;
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.back_button{
    background-color: #67BDEC;
    border: none;
}

.km{
    background-color: #f1d75f;
    color: white;
    border-radius: 30px;
    width: 50px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.par-bar{
    border: 1px solid white;
    height: 145px;
    border-radius: 20px;
    margin-top: 3px;
    margin-left: 5px;
    margin-right: 5px;
}

/* .par-box{
    background-color: #f1d65f81;
    border-radius: 20px;
    height: 125px;
} */

.par{
    display: flex;
    justify-content:space-around;
    margin-top: 10px;
}

.name{
    display: flex;
    justify-content: space-around;
    font-size: small;

}

.current{
    margin-left: 10px;
    margin-top: 10px;
    font-weight: bolder;
}

.ready{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.chatting{
    border: 1px solid white;
    background-color: rgb(245, 245, 245);
    height: calc(100vh - 240px);
    overflow-y: scroll;
    border-radius: 20px;
    margin-top: 25px;
    margin-bottom: 5px;
    justify-content: center;
    margin: 0 auto;
    margin-left: 5px;
    margin-right: 5px;
}

.content{
    margin-top: 15px;
    margin-left: 15px;
}

.chat-bar{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
}

#profile_img{
    height: 65px;
    width: 65px;
    border-radius: 20px;
    margin-top: 3px;
}
#ready_profile_img{
    height: 65px;
    width: 65px;
    border-radius: 20px;
    margin-top: 3px;
    border: solid 2px #67BDEC;
}

#yesready{
    border-radius: 10px;
    border: none;
    height: 30px;
    width: 63px;
    margin-right: 5px;
    background-color: yellow;
    color: white;
}
#noready{
    border-radius: 10px;
    border: none;
    height: 30px;
    width: 63px;
    margin-right: 5px;
    background-color: red;
    color: white;
}

#s-button{
    border-radius: 10px;
    border: none;
    height: 30px;
    width: 63px;
    margin-left: 5px;
    background-color: #67BDEC;
    color: white;
}

#chat-message{
    border-radius: 5px;
    border: 1px solid darkgrey;
    height: 30px;
    width: 100%;
    margin-right: 1px;
}

#chat-message2{
    border-radius: 5px;
    border: none;
    height: 30px;
    width: 50px;
    margin-left: 1px;
    background-color: #67BDEC;
    color: white;
}

#edit_img{
    background-color: #67BDEC;
    width:25px;
    height:25px;
    display: flex;
    align-items: center;
    margin-left: 145px;
}
a{
    text-decoration-line : none;
    text-decoration : none;
    color: white;
}

.edit {
    width: 150px;
}

.message-item{
    display: inline-block;
    max-width: 55%;
    margin:8px;
    padding: 12px 8px;
    word-break:break-word;
    border-radius: 4px;
    color: white;
}
.message-box-my-message{
    text-align: right;
}
.message-box-received-message{
    text-align: left;
}
.my-message{
    background-color: rgb(202, 202, 196);
    margin-right:2%;
}
.received-message{
    margin-left: 2%;
    background-color: #67BDEC;
}

#back {
    border: none;
    background-color: #67BDEC;
    color: white;
}

#kakao-link-btn {
    border: none;
    background-color: #67BDEC;
    color: white;
}

#start_btn {
    background-color: #67BDEC;
    margin-left: 10px;
    border: none;
    width: 60px;
    border-radius: 5px;
    color: white;
}

#cancel_btn {
    /* margin-right: 10px; */
    border: none;
    width: 60px;
    border-radius: 5px;
    /* margin: 0 auto; */
    color: white;
    background-color: lightgray;
}

.myname{
    margin: 0 auto;
    text-align: center;
}

.myname2 {
    margin: 0 auto;
    text-align: center;
    color: #67BDEC;
}